
.head1
{  

    background-color:lightsteelblue;
    height:80px;
   
}
.i2
{
    float:right;
}

.n2   /* header   will stick to top while scrolling */
{
  

    background-image: linear-gradient(to right,orange,yellow);
position: sticky;
top: 0;   
    
     
}
 body
 {
max-width: 1400px;
  }
  
  .n2 li{     
      display: inline;
     
      
  }
  .n2 a{       /* removing underline from links */
      list-style-type: none;
       padding:20px;
       margin:20px;
       text-decoration: none;
      
       
  }

.d1
{            /* use of flex properties */
 display:flex;
 flex-direction:row;
 justify-content: space-around;
 flex-wrap:wrap;
}
.d1 > div
{                    /* applying effect to all three flex parts */
  background-color: lightgreen;
  padding:30px;
  margin:20px;
  font-size: 9px;
  width:400px;
  height:300px;
}
.d11{
  border: 9px dotted blue;

}
.d111
{
    border: 9px solid red;
    box-shadow: 8px 8px black;
}
.d111 img{
    height:80px;
    width: 80px;
    
}
.d11 img
{    border-radius: 40px;
border:3px solid orange;
  height:300px;
  width: 300px;

 
}
.d22
{   
    border:9px dotted blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    line-height: 30px;
    overflow: scroll;
}
.d222
{
    border:9px dotted green;
    box-shadow: 8px 8px yellow;
}
.d222 img{
    height: 80px;
    width: 80px;
}
.d33
{
  border:9px dotted blue;
  font-family: 'Courier New', Courier, monospace;
  overflow:scroll;

}
.d33 li{        /* changing into capital case */
 text-transform: uppercase;
}
.d333          /*  applying shadow effects       */
{
    border:9px solid blue;
    box-shadow: 8px 8px pink;
}
.d333 img
{
    height: 80px;
    width: 80px;
}
.f1
{  
    width:100%;
    background-color: black;
    color:white;
    bottom:0;
    text-transform: uppercase;
 
}
.f1 img
{
    padding-left:20px;
}
body 
{
 background-color: azure
}

td
{
    font-size: 32px;
    background:linear-gradient( to bottom right, cyan,yellow);
    font-family: 'Times New Roman', Times, serif;
}


@media screen and (max-width:670px)
{
.d11
{ 
    width: 40%;
    
}
.d22
{
width:40%;
}
.d33
{
width:40%;
}
.n2
{
    display: block;
}
.f1
{
    width:100%;
    
}
}
@media screen and (max-width:570px)
{
.n2
{
    display: block;
}
.d11
{ 
    margin:4px;
    width: 20%;
    padding:10px;
}
.d22
{
    width:20%;
}

.d33
{
    width:20%;
}

}
@media screen and (max-width:370px)
{  
    .n2
    {
        display: block;
    }
    .d11
    { margin:4px;
        width: 20%;
        padding:10px;
        color:red;
    }
    .d22
    {
         width:40%;
        background-color: blueviolet;
        color:red;
    }
    .d33
    {
        width:40%;
        background-color:black;
        color:red;    

    }
}